nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: #172554;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
}

nav a:hover {
  background-color: #1e3a8a;
}

nav a.ativo {
  background-color: #2563eb;
}